.highlight{
    background-color: rgba(197, 197, 197, 0.479); 
}
#top{
    background-color: crimson;
    color: azure;
    width: 90%;
    margin: auto;
    text-align: center;
}
#gameCol{
    width: 90%;
    margin: auto;
    text-align: center;
}
.btn{
    margin-top: 10px;
}